@import "compass/utilities";

@function invert-lightness($color) {
	@return change-color($color, $lightness: 100% - lightness($color));
}

$font-family: "Lucida Grande", "Segoe UI", "Ubuntu", "Tahoma", "Arial", sans-serif;
$font-family_code: "Droid Sans Mono", "DejaVu Sans Mono", "Menlo", "Consolas", "Courier New", monospace;
$font-size: 12px;

$color_foreground: #000;
$color_background: #fff;

$input: #000;
$input_background: #fff;
$input_focus: #2182cc;
$input_focus_background: #fff;
$input_invalid: #f00;
$input_invalid_background: #fff8f8;
$input_invalid_focus: #cc2323;

$section-title_height: 24px;
$section-title_font-size: $font-size + 1;
$section-title_background: #eaeaea;

$pattern_input_background: #f6fff6;
$sample_input_background: #fffff7;

$contrasted-dark-default: $color_foreground;
$contrasted-light-default: invert-lightness($color_foreground);
$contrasted-lightness-threshold: 50%;

$flag: contrast-color($section-title_background, #555, #ccc);
$flag_key: #222;
$flag_active_key: $color_foreground;
$flag_active_background: darken($section-title_background, 12%);
$flag_active: contrast-color($flag_active_background);
