@import "_global";
@import "compass/css3";
@import "compass/reset";

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background: $color_background;
	color: $color_foreground;
	font: $font-size $font-family;
	line-height: normal;
	overflow: hidden;
}

a {
	color: #1525ab;
	text-decoration: none;
	&:visited {
		color: #680094;
	}
	&:hover {
		text-decoration: underline;
	}
}

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

pre, code, kbd, samp, textarea {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	font: {
		family: $code_font-family;
		size: $code_font-size;
	}
}

#regextool {
	@include box-sizing(border-box);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.layout-input {
	@include box-shadow(0 1px 0 0 rgba(0, 0, 0, 0.1), 0 2px 0 0 rgba(0, 0, 0, 0.05));
	border-bottom: 1px solid darken($section-title_background, 25%);
	position: relative;
	z-index: 10;
}

.section {
	@include box-sizing(border-box);
	position: relative;
	z-index: 1;

	.section-title {
		@include box-shadow(0 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.05));
		@include box-sizing(border-box);
		@include text-shadow(0 1px 0 darken($section-title_background, 5%));
		@include user-select(none);
		background: {
			color: $section-title_background;
			image: image-url("section-title.png");
			repeat: repeat-x;
			position: 0 0;
		}
		@include background-image(linear-gradient(top, lighten($section-title_background, 3%), darken($section-title_background, 2%)));
		border: {
			bottom: 1px solid darken($section-title_background, 20%);
			top: 1px solid darken($section-title_background, 12%);
		}
		color: $section-title_foreground;
		display: block;
		font: {
			size: $section-title_font-size;
			weight: 600;
		}
		line-height: $section-title_height - 2;
		margin: 0;
		max-height: $section-title_height;
		padding: 0 6px;
		position: relative;
		z-index: 10;
	}

	.section-content {
		@include box-sizing(border-box);
		background-color: $color_background;
		display: block;
		margin: 0;
		overflow: auto;
		padding: 0;
		width: 100%;
		
		textarea {
			@include box-shadow(0 0 1px 1px transparent inset);
			@include box-sizing(border-box);
			@include transition(box-shadow .1s);
			background-color: $input_background;
			border: 0;
			color: $input_foreground;
			display: block;
			height: 100%;
			margin: 0;
			max-width: 100%;
			min-width: 100%;
			outline: 0;
			resize: none;
			width: 100%;

			&:focus,
			&.dragover {
				@include box-shadow(0 0 1px 1px $input_focus_foreground inset);
				@include transition-duration(0s);
				// background-color: $input_focus_background;
			}
		}
	}
}

#pattern {
	background-color: $pattern_input_background;
	white-space: pre;

	&.invalid {
		background-color: $input_invalid_background;
		color: $input_invalid_foreground;
	}

	&.invalid:focus,
	&.invalid.dragover {
		@include box-shadow(0 0 1px 1px $input_invalid_focus_foreground inset);
		color: $input_foreground;
	}
}

#sample {
	background-color: $sample_input_background;
}

@import "screen/_flags";
@import "screen/_result";
@import "screen/_info-bar";
@import "screen/_flexbox";