$contrasted-lightness-threshold: 50%;

@import "compass/reset";
@import "compass/css3";
@import "compass/typography";
@import "compass/utilities";

$default: #000;
$default_bg: #fff;

$input_focus: #2182cc;
$input_focus_bg: #f4faff;

$access_key_active: #000;

$pattern_bg: #f4fff4;
$pattern_invalid: #f00;
$pattern_invalid_bg: #fff1f1;
$pattern_invalid_focus: #cc2323;

$sample_bg: #fffff3;

$section_title_height: 24px;
$section_title_bg: #eaeaea;

$flag_active_bg: transparentize(darken($section_title_bg, 20%), .5);
$flag_active: contrast-color($flag_active_bg, #000, #fff);


@mixin background-invert-lightness($color) {
	background-color: change-color($color, $lightness: 100% - lightness($color))
}
@mixin color-invert-lightness($color) {
	color: change-color($color, $lightness: 100% - lightness($color))
}

@mixin tab-size($integer) {
	-moz-tab-size: $integer;
	-o-tab-size: $integer;
	-webkit-tab-size: $integer;
	tab-size: $integer;
}

@mixin user-select($policy) {
	-moz-user-select: $policy;
	-khtml-user-select: $policy;
	-ms-user-select: $policy;
	-webkit-user-select: $policy;
}

@mixin webkit-scrollbars {
	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar:horizontal {
		height: 10px;
	}
	&::-webkit-scrollbar-track {
		background: none;
		border: 0;
		width: 10px;
	}
	&::-webkit-scrollbar-track,
	&::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: rgba(0,0,0,.5);
	}
	&::-webkit-scrollbar-thumb:window-inactive {
		background-color: rgba(0,0,0,.3);
	}
}


html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	@include tab-size(4);
	background: $default_bg;
	color: $default;
	font: {
		family: "Lucida Sans", "Segoe UI", Tahoma, Arial, sans-serif;
		size: 12px;
	}
	line-height: normal;
	overflow: hidden;
}

pre, code, textarea {
	font: {
		family: Menlo, Consolas, "Droid Sans Mono", monospace;
		size: inherit;
	}
}

textarea {
	resize: none;
}

a {
	color: #1525ab;
	text-decoration: none;

	&:visited {
		color: #680094;
	}

	&:hover {
		text-decoration: underline;
	}
}

.access-key {
	font-weight: bold;
}

#regextool {
	@include box-sizing(border-box);
	height: 100%;
	width: 100%;
}

section {
	position: relative;

	.section-title {
		@include background-image(linear-gradient(top, lighten($section_title_bg, 3%), darken($section_title_bg, 2%)));
		@include box-shadow(0 1px 0 rgba(0,0,0,.1));
		@include box-sizing(border-box);
		@include text-shadow(0 1px 0 rgba(255,255,255,.5));
		background-color: $section_title_bg;
		border: {
			bottom: 1px solid darken($section_title_bg, 25%);
			top: 1px solid darken($section_title_bg, 15%);
		}
		color: contrast-color($section_title_bg);
		display: block;
		font: {
			size: 13px;
			weight: 600;
		}
		line-height: $section_title_height - 2;
		margin: 0;
		padding: 0 6px;
		position: relative;
		z-index: 2;
	}

	.section-content {
		@include box-sizing(border-box);
		background-color: $default_bg;
		display: block;
		margin: 0;
		max-width: 100%;
		min-height: 50px;
		min-width: 100%;
		overflow: auto;
		padding: 3px;
	}

	textarea.section-content {
		@include box-shadow(0 0 1px 1px transparent inset);
		@include transition(box-shadow, .1s);
		@include user-select(text);
	//	@include webkit-scrollbars;
		border: 0;
		outline: 0;
	}

	textarea.section-content:focus {
		@include box-shadow(0 0 1px 1px $input_focus inset);
	}
}
//
// Pattern
//

#section-pattern {
}

#pattern {
	background-color: $pattern_bg;
	white-space: pre;

	&.invalid {
		background-color: $pattern_invalid_bg;
		color: $pattern_invalid;
	}

	&.invalid:focus {
		@include box-shadow(0 0 1px 1px $pattern_invalid_focus inset);
	}
}

//
// Flags
//

#flags {
	@include box-sizing(border-box);
	@include text-shadow(0 1px 0 transparentize(contrast-color($section_title_bg, #fff, #000), .5));
	@include user-select(none);
	font-size: 11px;
	position: absolute;
	right: 0;
	top: 0;
	white-space: nowrap;
	z-index: 10;

	h3 {
		border: 0 solid darken($section_title_bg, 20%);
		border-right-width: 1px;
		@include border-image(linear-gradient(bottom, darken($section_title_bg, 15%), darken($section_title_bg, 25%)));
		color: contrast-color($section_title_bg);
		float: left;
		font-weight: bold;
		line-height: $section_title_height - 2;
		margin: 1px 3px;
		padding: 0 6px;
		text-transform: uppercase;
	}

	ul {
		display: inline;
		list-style: none;

		li {
			display: inline;
		}

		label {
			display: block;
			float: left;
			line-height: $section_title_height - 6;
			margin: 3px 1px;
		}

		input[type='checkbox'] {
			@include appearance(none);
			display: inline;
			position: absolute;
			visibility: hidden;
		}

		.checkbox-label {
			@include border-radius(2px);
			color: contrast-color($section_title_bg, #555, #ccc);
			float: left;
			padding: 0 6px;

			.access-key {
				color: #222;
			}
		}

		input[type='checkbox']:checked + .checkbox-label {
			@include box-shadow(0 1px 1px rgba(0,0,0,.5) inset, 0 1px 0 rgba(255,255,255,.5));
			background-color: $flag_active_bg;
			color: $flag_active;

			.access-key {
				color: $access_key_active;
			}
		}
	}
}

//
// Sample Text
//

#section-sample {
	@include box-shadow(0 1px 0 0 rgba(0, 0, 0, 0.1), 0 2px 0 0 rgba(0, 0, 0, 0.05));
	border-bottom: 1px solid darken($section_title_bg, 25%);
	z-index: 2;
}

#sample {
	background-color: $sample_bg;
}


//
// Results
//

#section-results {
	.section-title {
		display: none;
	}
	.section-title span {
	}
}

#result {
	padding: 0 0 8px;

	ol {
		margin: 0;
		padding: 0;
	}

	.matches {
	}

	.match {
		border-right: 1px solid #ddd;
		list-style: none;
		margin: 8px;
		min-height: 14px;
		position: relative;

		.match-index {
			@include border-radius(2px 0 0 2px);
			@include box-shadow(-2px 0 2px -2px rgba(0,0,0,.5) inset);
			@include box-sizing(border-box);
			background-color: mix(#888, $default_bg, 15%);
			color: $default;
			float: left;
			font: {
				size: 11px;
				weight: bold;
			}
			height: 100%;
			padding: 2px 6px;
			position: absolute;
			text-align: right;
			text-decoration: none;
			width: 30px;

			&:hover {
				background-color: mix(#888, $default_bg, 30%);
			}
		}

		.match-result {
			margin-left: 30px;
			white-space: pre-wrap;
			word-wrap: break-word;
		}
	}

	.match-result-match {
		background-color: #eee;
		border: {
			top: 1px solid #ddd;
			bottom: 1px solid #ddd;
		}
	}

	.match-string-index {
		float: right;
		font: {
			size: 11px;
			weight: bold;
		}
		margin: 0 4px;
	}

	.match-string {
		display: block;
		overflow: hidden;
		padding: 1px 2px;
	}

	.match-string.empty,
	.submatch-string.empty {
		color: #999;
	}

	.match.hidden .match-string {
		@include ellipsis;
	}

	.submatch {
		border-bottom: 1px solid #ddd;
		padding: 2px;

		.submatch-index {
			display: none;
		}

		.submatch-string {
		}
	}
}

//
// Compatability rules
//

html.no-flexbox {
	#regextool {
		position: relative;
	}
	#section-results {
		position: absolute;
		top: 148px;
		bottom: 0px;
		height: auto;

		#result {
			height: 100%;
		}
	}
}

html.flexbox {
	textarea {
		resize: vertical;
	}

	#regextool {
		@include display-box;
		@include box-orient(vertical);
	}

	section {
		@include display-box;
		@include box-orient(vertical);
	}

	.section-content {
		@include box-flex(1);
	}

	#section-results {
		@include box-flex(1);
	}
}

body.jquery-layout {
	.ui-layout-resizer {
		@include background-image(linear-gradient(top, lighten($section_title_bg, 3%), darken($section_title_bg, 2%)));
//		@include box-sizing(border-box);
//		background-color: $section_title_bg;
		border: {
			bottom: 3px solid transparent;
			top: 3px solid transparent;
		}
		cursor: ns-resize !important;
		cursor: row-resize !important;
		height: 6px !important;
		z-index: 50 !important;
	}
	
	.ui-layout-toggler {
		background-color: darken($section_title_bg, 15%);
	}
}