$color_pattern_bg: #f4fff4;
$color_pattern_invalid: #f00;
$color_pattern_invalid_bg: #fff1f1;
$color_pattern_invalid_focus: #cc2323;
$color_sample_bg: #fffff3;
$color_textarea_focus: #2182cc;

@mixin user-select($policy) {
	-moz-user-select: $policy;
    -ms-user-select: $policy;
    -webkit-user-select: $policy;
}


@import "compass/reset";
@import "compass/css3";
@import "compass/typography";

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	font-family: "Open Sans", "Lucida Grande", "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 12px;
	line-height: normal;
	overflow: hidden;
}
pre, code, textarea {
	font-family: Menlo, Consolas, "Droid Sans Mono", monospace;
	font-size: inherit;
}
a {
	color: #1525ab;
	text-decoration: none;
}
a:visited {
	color: #680094;
}
a:hover {
	text-decoration: underline;
}

textarea {
	border: 0;
	outline: 0;
}
textarea:focus {
	@include box-shadow(0 0 0 1px $color_textarea_focus inset);
}

.access-key {
	font-weight: bold;
}

.viewport {
	@include display-box;
	@include box-orient(vertical);
	height: 100%;
	width: 100%;
}

.viewport section {
	@include display-box;
	@include box-orient(vertical);
	margin: 0;
	position: relative;
	border: 0;
	background: transparent;
	min-height: 80px;
}
.viewport section.section-results {
	@include box-flex(1);
}

.section-title {
	@include background-image(linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,0)));
	@include box-shadow(0 1px 0 rgba(0,0,0,.1));
	@include box-sizing(border-box);
	@include text-shadow(0 1px 0 #fff);
	background-color: #eee;
	border: {
		bottom: 1px solid #bbb;
		top: 1px solid #bbb;
	}
	color: #000;
	display: block;
	font-size: 13px;
	font-weight: 600;
	min-height: 22px;
	line-height: 20px;
	margin: 0;
	padding: 0 4px;
	position: relative;
	z-index: 10;
}

.section-content {
	@include box-flex(1);
	@include box-sizing(border-box);
	background: #fff;
	color: #000;
	display: block;
	margin: 0;
	max-width: 100%;
	overflow: auto;
	padding: 3px;
}

#pattern {
	background-color: $color_pattern_bg;
}

#pattern.invalid {
	background-color: $color_pattern_invalid_bg;
	color: $color_pattern_invalid;
}
#pattern.invalid:focus {
	@include box-shadow(0 0 0 1px $color_pattern_invalid_focus inset);
}

#sample {
	background-color: $color_sample_bg;
}

#result {
	padding: 0;
}

#result li,
#result span {
	min-height: 18px;
}
#result > ol > li {
	@include border-radius(2px);
	background-color: #eee;
	border: 1px solid #ddd;
	color: #000;
	margin: 5px;
}
#result > ol > li > span {
	@include border-radius(2px);
	background-position: 4px 3px;
	background-repeat: no-repeat;
	display: block;
	padding: 0 3px;
}
#result > ol > li.parent > span {
	@include background-image(image-url("arrow-down.png"));
	@include ellipsis;
	padding: 0 3px 0 20px;
}
#result > ol > li.parent.hidden > span {
	@include background-image(image-url("arrow-right.png"));
}
#result > ol > li.parent > span:hover {
	background-color: #e0f0ff;
	cursor: pointer;
}
#result > ol > li ol {
	margin: 0;
}
#result > ol > li ol li {
	border-top: 1px solid #ccc;
	padding: 0 4px;
}

#flags {
	@include box-sizing(border-box);
	@include user-select(none);
	height: 22px;
	line-height: 22px;
	margin: 0;
	padding: 0 4px 0 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
	white-space: nowrap;
	
	li {
		display: inline;
	}
	label {
		@include box-sizing(border-box);
		display: block;
		float: left;
		height: 22px;
		line-height: 22px;
		margin: 0;
		padding: 0;
	}
	input[type='checkbox'] {
		
	}
	.checkbox-label {
		color: #888;
	}
	input[type='checkbox']:checked + .checkbox-label {
		color: #000;
	}
}
