html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: white;
  color: black;
  font: 12px "Lucida Grande", "Segoe UI", "Ubuntu", "Tahoma", "Arial", sans-serif;
  line-height: normal;
  overflow: hidden;
}

a {
  color: #1525ab;
  text-decoration: none;
}
a:visited {
  color: #680094;
}
a:hover {
  text-decoration: underline;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

pre, code, kbd, samp, textarea {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  font-family: "Droid Sans Mono", "DejaVu Sans Mono", "Menlo", "Consolas", "Courier", monospace;
  font-size: 12px;
}

.access-key {
  font-weight: bold;
}

#regextool {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
#regextool .layout-input {
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 2px 0 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 2px 0 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 2px 0 0 rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #aaaaaa;
  position: relative;
  z-index: 10;
}

.section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.section .section-title {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0 1px 0 #dddddd;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background-color: #eaeaea;
  background-image: url('../img/section-title.png?1336555512');
  background-repeat: repeat-x;
  background-position: 0 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: -moz-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: -o-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: linear-gradient(top, #f2f2f2, #e5e5e5);
  border-bottom: 1px solid #b7b7b7;
  border-top: 1px solid #cbcbcb;
  color: #282828;
  display: block;
  font-size: 13px;
  font-weight: 600;
  line-height: 22px;
  margin: 0;
  max-height: 24px;
  padding: 0 6px;
  position: relative;
  z-index: 10;
}
.section .section-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  display: block;
  margin: 0;
  overflow: auto;
  padding: 0;
  width: 100%;
}

#pattern,
#sample {
  -webkit-box-shadow: 0 0 1px 1px transparent inset;
  -moz-box-shadow: 0 0 1px 1px transparent inset;
  box-shadow: 0 0 1px 1px transparent inset;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: box-shadow 0.1s;
  -moz-transition: box-shadow 0.1s;
  -o-transition: box-shadow 0.1s;
  transition: box-shadow 0.1s;
  background-color: white;
  border: 0;
  color: black;
  display: block;
  height: 100%;
  margin: 0;
  outline: 0;
  resize: none;
  width: 100%;
}
#pattern:focus, #pattern.dragover,
#sample:focus,
#sample.dragover {
  -webkit-box-shadow: 0 0 1px 1px #2182cc inset;
  -moz-box-shadow: 0 0 1px 1px #2182cc inset;
  box-shadow: 0 0 1px 1px #2182cc inset;
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

#pattern {
  background-color: #f6fff6;
  white-space: pre;
}
#pattern.invalid {
  background-color: #fff8f8;
  color: #cc0000;
}
#pattern.invalid:focus, #pattern.invalid.dragover {
  -webkit-box-shadow: 0 0 1px 1px #cc2323 inset;
  -moz-box-shadow: 0 0 1px 1px #cc2323 inset;
  box-shadow: 0 0 1px 1px #cc2323 inset;
  color: black;
}

#sample {
  background-color: #fffff7;
}

#flags {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  font-size: 11px;
  height: 24px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  white-space: nowrap;
  z-index: 20;
}
#flags h3 {
  -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.4);
  color: black;
  float: left;
  font-weight: bold;
  line-height: 24px;
  margin: 0 3px 0 0;
  padding: 0 6px;
  text-transform: uppercase;
}
#flags ul {
  -ms-user-select: none;
  -webkit-user-select: none;
  display: inline-block;
  list-style: none;
}
#flags ul li {
  float: left;
  overflow: hidden;
  padding: 0;
}
#flags ul li input {
  float: left;
  margin: -30px 0 0 -30px;
  outline: none;
}
#flags ul li label {
  -moz-user-select: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #555555;
  display: block;
  float: left;
  outline: none;
  line-height: 18px;
  margin: 3px 2px;
  padding: 0 6px;
}
#flags ul li label .access-key {
  color: #222222;
}
#flags ul li input:checked + label {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4) inset, 0 1px 1px rgba(0, 0, 0, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.3), -1px 0 0 rgba(255, 255, 255, 0.3), 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4) inset, 0 1px 1px rgba(0, 0, 0, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.3), -1px 0 0 rgba(255, 255, 255, 0.3), 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4) inset, 0 1px 1px rgba(0, 0, 0, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.3), -1px 0 0 rgba(255, 255, 255, 0.3), 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #cbcbcb;
  color: black;
}
#flags ul li input:checked + label .access-key {
  color: black;
}
#flags ul li input:focus + label {
  background-color: rgba(64, 155, 224, 0.35);
  color: black;
}
#flags ul li input:checked:focus + label {
  -webkit-box-shadow: 0 1px 1px 0 rgba(33, 130, 204, 0.3) inset, 0 0 0 1px rgba(33, 130, 204, 0.7) inset, 0 0 3px rgba(0, 0, 0, 0.4) inset, 0 1px 1px rgba(0, 0, 0, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.3), -1px 0 0 rgba(255, 255, 255, 0.3), 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 1px 0 rgba(33, 130, 204, 0.3) inset, 0 0 0 1px rgba(33, 130, 204, 0.7) inset, 0 0 3px rgba(0, 0, 0, 0.4) inset, 0 1px 1px rgba(0, 0, 0, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.3), -1px 0 0 rgba(255, 255, 255, 0.3), 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 1px 0 rgba(33, 130, 204, 0.3) inset, 0 0 0 1px rgba(33, 130, 204, 0.7) inset, 0 0 3px rgba(0, 0, 0, 0.4) inset, 0 1px 1px rgba(0, 0, 0, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.3), -1px 0 0 rgba(255, 255, 255, 0.3), 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: rgba(33, 130, 204, 0.35);
}

#section-result {
  bottom: 0;
  height: auto;
  left: 0;
  position: absolute;
  top: 183px;
  width: 100%;
  z-index: 1;
}
#section-result .section-title {
  display: none;
}
#section-result .section-content {
  height: 100%;
  padding: 0;
}

#result-list ol {
  margin: 0;
  padding: 0;
}
#result-list .empty, #result-list .unset {
  font-style: italic;
}
#result-list .empty {
  color: #888;
}
#result-list .unset {
  color: #b85a5a;
}
#result-list .invisible {
  color: #676a87;
  font-weight: bold;
  width: 20px;
}
#result-list .string {
  display: block;
  overflow: hidden;
  padding: 2px 4px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
#result-list .info {
  color: #666;
  float: right;
  font-size: 11px;
  font-weight: bold;
  padding: 2px 3px;
}
#result-list .info div {
  display: inline;
  padding: 0 1px;
}
#result-list .info .label {
  color: #bbb;
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
}
#result-list .info .offset {
  display: none;
}
#result-list .info .length {
  color: #63007b;
}
#result-list .info .length .label {
  display: none;
}
#result-list .match-index {
  display: none;
}
#result-list .match {
  -webkit-transition: border 0.1s;
  -moz-transition: border 0.1s;
  -o-transition: border 0.1s;
  transition: border 0.1s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid transparent;
  list-style: none;
  margin: 6px;
  padding: 2px;
  position: relative;
}
#result-list .match:hover {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  border-color: #2182cc;
}
#result-list .match.hidden .match-result .string {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
#result-list .match.parent .toggle {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  -ms-border-radius: 2px 0 0 2px;
  -o-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  float: left;
  min-height: 19px;
  padding: 7px 0 0 4px;
  text-align: center;
  width: 15px;
}
#result-list .match.parent .toggle .arrow {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #000;
  height: 0;
  opacity: .5;
  width: 0;
}
#result-list .match.parent .toggle:hover .arrow {
  opacity: .9;
}
#result-list .match.parent.hidden .toggle {
  background-color: #d6d6d6;
  padding-left: 5px;
  padding-top: 6px;
}
#result-list .match.parent.hidden .toggle .arrow {
  border-bottom: 4px solid transparent;
  border-left: 5px solid #000;
  border-right: 0;
  border-top: 4px solid transparent;
}
#result-list .match .match-result {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #ededed;
  min-height: 19px;
}
#result-list .match .submatches {
  margin-left: 15px;
}
#result-list .match.hidden .submatches {
  display: none;
}
#result-list .match .submatch {
  border-bottom: 1px solid #d5d5d5;
}
#result-list .match .submatch .submatch-index {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #c6c6c6;
  font-size: 80%;
  margin-left: -21px;
  padding-right: 2px;
  padding-top: 3px;
  float: right;
  text-align: right;
  width: 21px;
}
#result-list .match .submatch:hover .submatch-index {
  color: black;
}
#result-list .match .submatch:first-child:last-child .submatch-index {
  display: none;
}

#info-bar {
  border-left: 1px solid #c4c4c4;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  margin: 1px 0;
  padding: 0 6px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
}
#info-bar .total-matches {
  color: #262626;
}
#info-bar .total-matches b {
  color: black;
}
