html.flexbox {
	#regextool {
		@include flexbox((
			display: flex,
			flex-direction: column
		));
	}
	
	section {
		@include flexbox((
			display: flex,
			flex-direction: column,
			align-items: stretch
		));
				
		.section-content {
			textarea {
				resize: vertical;
			}
		}
	}
	
	#section-result {
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
	}

	.layout-input {
		@include flexbox((
			display: inline,
			flex-direction: column
		));
		width: 100%;
	}
}

