html.flexbox {
	#regextool {
		@include display-box;
		@include box-orient(block-axis);
	}
	
	section {
		@include display-box;
		@include box-align(stretch);
		@include box-flex(1);
		@include box-orient(block-axis);
		
		& > h2 {
			@include box-flex(0);
		}
		
		.section-content {
			@include box-flex(1);
			textarea {
				resize: vertical;
			}
		}
	}
	
	#section-result {
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
	}

	.layout-input {
		@include display-box;
		@include box-flex(0);
		@include box-orient(vertical);
		width: 100%;
	}
}

