#info-bar {
	font-size: $font-size;
	height: $section-title_height - 2;
	line-height: $section-title_height - 2;
	margin: 1px 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 20;

	.info-bar-item {
		border-left: 1px solid darken($section-title_background, 15%);
		float: right;
		padding: 0 6px;
		
		& > label {
			color: lighten($color_foreground, 15%);

			&::after {
				content: ':';
			}
		}
		
		& > .value {
			font-weight: bold;
		}
	}
}