section#section-result {
	bottom: 0;
	height: auto;
	left: 0;
	position: absolute;
	top: 157px;
	width: 100%;
	z-index: 1;

	& > header {
		display: none;
	}

	.section-content {
		height: 100%;
		padding: 0;
	}
}

#result {
	ol {
		margin: 0;
		padding: 0;
	}

	.empty, .unset {
		font-style: italic;
	}

	.empty {
		color: #888;
	}

	.unset {
		color: #b85a5a;
	}

	.invisible {
		color: #676a87;
		font-weight: bold;
		width: 20px;
	}

	.string {
		display: block;
		overflow: hidden;
		padding: 2px 4px;
		white-space: pre-wrap;
		word-wrap: break-word;
	}

	.info {
		color: #666;
		float: right;
		font: {
			size: $font-size - 1;
			weight: bold;
		};
		padding: 2px 3px;

		& > span {
			padding: 0 1px;
		}

		label {
			color: #bbb;
			font: {
				size: $font-size - 2;
				weight: normal;
			};
			text-transform: uppercase;
		}

		.line {
		}

		.column {
		}

		.offset {
			display: none;
		}

		.length {
			color: #63007b;
			label {
				display: none;
			}
		}
	}

	.match-index {
		display: none;
	}

	.matches > li {
		@include transition(border .1s);
		@include border-radius(4px);
		border: 2px solid transparent;
		list-style: none;
		margin: $result_margin;
		padding: round($result_margin / 3);
		position: relative;

		&:hover {
			@include transition-duration(0s);
			border-color: $input_focus;
		}

		&.hidden .match-result .string {
			@include ellipsis;
		}

		.match-result {
			@include border-radius(2px);
			background-color: #ededed;
			min-height: $result_min-height;
		}

		.toggle {
			@include border-radius(2px 0 0 2px);
			@include box-sizing(border-box);
			@include user-select(none);
			cursor: pointer;
			display: none;
			float: left;
			min-height: $result_min-height;
			padding: 7px 0 0 4px;
			text-align: center;
			width: $result_toggle_width;
			& > div {
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-top: 5px solid #000;
				height: 0;
				opacity: .5;
				width: 0;
			}

			&:hover > div {
				opacity: .9;
			}
		}

		&.parent .toggle {
			display: block;
		}

		&.parent.hidden .toggle {
			padding: 6px 0 0 5px;
			& > div {
				border-bottom: 4px solid transparent;
				border-left: 5px solid #000;
				border-right: 0;
				border-top: 4px solid transparent;
			}
		}

		.submatches {
			margin-left: $result_toggle_width;
		}

		&.hidden .submatches {
			display: none;
		}

		.submatch {
			border-bottom: 1px solid #d5d5d5;

			.submatch-index {
				@include box-sizing(border-box);
				color: #c6c6c6;
				float: right;
				font-size: 80%;
				line-height: $result_min-height;
				padding: 0 3px;
				text-align: right;
			}

			&:hover .submatch-index {
				color: $color_foreground;
			}

			&:first-child:last-child .submatch-index {
				display: none;
			}
		}
	}
}
